#!/bin/bash

source ~/{{ name }}/openrc-v3

nova keypair-add {{ name }}-key > ~/.ssh/{{ name }}_rsa
secname=sec-{{ name }}
nova secgroup-delete ${secname}
secID=`nova secgroup-create ${secname} ${secname}| awk -F '|' 'NR==4{print $2}'| tr -d '[[:space:]]'`
echo "secID=${secID}"
nova secgroup-add-rule sec-{{ name }} icmp -1 -1 0.0.0.0/0
nova secgroup-add-rule sec-{{ name }} tcp 22 22 0.0.0.0/0
uname={{ name }}
#get the first line NR==1 and remove space
netid=`neutron net-list | grep net-${uname} | awk -F '|' 'NR==1{print $2}'| tr -d '[[:space:]]'`
echo "net-id=${netid}"
nova boot --flavor m1.tiny --image cirros-0.3.4-x86_64-uec --nic net-id=${netid} \
--security-group ${secID} --key-name {{ name }}-key {{ name }}-instance1-v3


