#!/bin/bash

source ~/{{ home }}/openrc

neutron net-create net-{{ net_name_2 }}
neutron subnet-create net-{{ net_name_2 }} {{ sub_net_2 }}  --name net-{{ net_name_2 }}-sub
neutron router-interface-add router1-{{ name }} net-{{ net_name_2 }}-sub

