{
    "RegionId": "{{ RegionId }}",
    "ZoneId": "{{ ZoneId }}", 
     
    "IoOptimized": "none", 
    "InternetChargeType": "PayByTraffic", 
    "Description": "", 
    "HostName": "{{ HostName }}",
    "InstanceName": "{{ HostName }}", 	
    "ClusterId": "", 
    "ImageId": "{{ ImageId }}",
    	
    "InstanceChargeType": "PostPaid", 
    "InstanceNetworkType": "vpc",
    "VSwitchId": "vsw-25hjbr6b7",
    "PrivateIpAddress": "{{ PrivateIpAddress }}",	
    "InstanceType": "{{ InstanceType }}",    
    "Cpu": 1,    
    "SecurityGroupId": "sg-25i8ahfb7", 
    "Memory": 1024
}
