{
    "RegionId": "{{ RegionId }}",
    "ZoneId": "{{ ZoneId }}", 
     
    "IoOptimized": "none", 
    "InternetChargeType": "PayByTraffic", 
    "Description": "", 
    "HostName": "{{ HostName }}.local",
    "InstanceName": "{{ HostName }}", 	
    "ClusterId": "", 
    "ImageId": "{{ ImageId }}",
    	
    "InstanceChargeType": "PostPaid", 
    "InstanceNetworkType": "vpc",
    "VSwitchId": "vsw-25hjbr6b7",
    {% if PrivateIpAddress is  defined %}
    "PrivateIpAddress": "{{ PrivateIpAddress }}",
    {% endif %}
    "InstanceType": "{{ InstanceType }}",        
    "SecurityGroupId": "sg-25i8ahfb7" 
    
}
