#!/bin/bash

source ~/{{ home }}/openrc

neutron net-create net-{{ net_name }}
neutron subnet-create net-{{ net_name }} {{ sub_net_2 }}  --name net-{{ net_name }}-sub
neutron router-create router1-{{ router }}
neutron router-gateway-set router1-{{ router }} ext-net
neutron router-interface-add router1-{{ router }} net-{{ net_name }}-sub

